/*
Também chamada de base. Essa camada serve para estilizarmos a parte mais básica dos elementos. Nada de IDs nem classes aqui, apenas seletores de elementos.

Normalmente utilizada para se fazer o CSS Reset.

div{
   padding: 10px;
}

*/

header{
   margin-left: 256px;
}
.content{
   position: relative;
   top: 64px;
}